.DS_Store
__pycache__/
*.pyc
*.log

# Never commit controlled raw data.
data_archives/
guangzhou_human_labels/
controlled_data/
*.tar
*.tar.gz
*.zip
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.shp
*.dbf
*.shx
*.prj
*.gpkg
*.geojson
